<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c5ed81fca0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/menu.css">
    <link rel="stylesheet" href="../css/portada.css">
    <link rel="stylesheet" href="../css/descrip.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <title>ToyManga</title>
</head>
<body>
    <div class="pagina">
        
        <header class="header_pagina">
            <a class="link_title" href="../index.html"><h1 class="title_pagina">Toy<span >Manga</span></h1></a>
            
            <i class="fas fa-bars ico_menu"></i>
            <nav class="menu">
                <ul>
                    <li><a href="">Mangas</a></li>
                    <li><a href="">Populares</a></li>
                    <li><a href="">Nuevos</a></li>
                </ul>
                <form class="mangas_buscar">
                    <input type="text" id="name" placeholder="Name">
                    <button><i class="fas fa-search ico_buscar"></i></button>
                </form>
            </nav>
        </header>

        <main class="main_pagina_descrip">
            <section class="content_mangas">
                <article class="mangas_descrip"> 

                </article>
                
            </section>
        </main>
        

    </div>
    
    <script src="../js/descrip.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>